<footer class="page-footer">
    <div class="container text-md-left footernav">

        <div class="row">
            <div class="col-md-6 mx-auto">
                <ul class="list-unstyled">
                    <li><a class="pagelink-footer" href="/about">About this project</a></li>
                    <li><a class="pagelink-footer" href="/contact">Contact</a></li>
                    <li><a class="pagelink-footer" href="/imprint">Imprint</a></li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto">
                &nbsp;&nbsp;
            </div>
            <div class="col-md-3 mx-auto">
                <img src="../img/expressjs.jpg" alt="Icon Express-NodeJS" />
            </div>
      
        </div>  
    </div> 
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>