<title>TOPOTEXT Web - Mapping text | <%= page %></title>
<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="TOPOTEXT web-version - The tool to map texts">
<meta name="keywords" content="topotext-web, text-mapping, digital humanities, gazettees, topotext">
<meta name="author" content="Thomas Baur">
<link rel="shortcut icon" type="image/x-icon" href="../img/docs/favicon.ico" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet" href="./stylesheets/style.css">