<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/script %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3>Sorry, this page was not found</h3><br>
  <div class="row">
    <div class="col-md-12">
      <p>This page was not found in this application. Go back to the a <a href="/">main-page</a></p>
      
    </div>
    
  </div>
</div>

<% include partials/footer %>
</body>

</html>