<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <% include partials/script %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-6 content-col">
      <p>Dieses Projekt wurde ins Leben gerufen, um Texte auf Landkarten visuell sichtbar zu machen. 
        Es gibt viele Text-Mapping-Tools, die diese Aufgabe haben. Als Vorlage diente die Java-Version von TOPOTEXT und kann als spin-off für weitere Entwicklungen angesehen werden. 
        Das Projekt entstand im Rahmen meiner Seminararbeit an der Universität zu Köln unter Leitung von Herrn Prof. &#216;yvind Eide.
        <br><br>
        <strong>Was ist TOPOTEXT?</strong><br>
        „TOPOTEXT“ ist ein Textmapping-Tool welches von Mohamad Jaber, Shady Elbassouni, Randy El Khatib et al. vom Department of Computer Science American University of Beirut 
        sowie dem Department of English University of Victoria British Columbia, Canada entwickelt und konzipiert wurde.
        Diese Software ist in der Lage, einen eingegebenen Text mit Hilfe eines Webservices zu georeferenzieren und die im Text gefundenen Ort auf einer Landkarte anzuzeigen. 
        Außerdem kann dieses Programm die Anzahl der Ortsnamen, die im Text vorkommen zählen und nach Anzahl gewichten. 
        Der Benutzer kann eine Word-Cloud generieren lassen sowie die Ergebnisse der Georeferenzierungen als CSV-Datei exportieren.

        <br><br>
        <button class="btn btn-primary">
          <i class="fab fa-github"></i> <a class="pagelink" href="https://github.com/rkhatib/topotext" target="_blank">Lernen Sie mehr über TOPOTEXT auf Github</a>
        </button>
      </p>
      
    </div>
    <div class="col-sm-6 content-col"> 
      <p>This project was created to make texts on maps visually visible. There are many text mapping tools that do this. 
        The Java version of TOPOTEXT served as a template and can be viewed as a spin-off for further developments. 
        The project was developed as part of my seminar work at the University of Cologne under the direction of Prof. &#216;yvind Eide.
        <br><br><br>
        <strong>What is TOPOTEXT?</strong><br>
        "TOPOTEXT" is a text mapping tool developed by Mohamad Jaber, Shady Elbassouni, Randy El Khatib et al. was developed by the Department of Computer Science American 
        University of Beirut and the Department of English University of Victoria British Columbia, Canada.
        This software is able to geo-reference an entered text with the help of a web service and display the location found in the text on a map. 
        This program can also count the number of place names that appear in the text and weight them by number. The user can generate a Word cloud and 
        export the results of the georeferencing as a CSV file.
      
        <br><br><br>
        <button class="btn btn-primary">
          <i class="fab fa-github"></i> <a class="pagelink" href="https://github.com/rkhatib/topotext" target="_blank">Visit TOPOTEXT on Github</a>
        </button>
      </p>
    </div>
    
  </div>


  <br>
  <div class="row gray-section" data-aos="zoom-in">
      <div class="col-sm-6 content-col">
        <p>
            <img src="../img/topotext_map01.png" class="img-responsive" alt="Topotext map" />
        </p>
      </div>
      <div class="col-sm-6 content-col" style="vertical-align: middle;">
        <p>
          <strong>Mapping texts</strong><br>
          The user can generate a map of all extracted places using Leaflet, which is an open-source JavaScript
          library for interactive maps. To be able to do this, the extracted places by the NER
          tool are first geoparsed through the GeoNames web service. GeoNames is the largest
          open gazetteer that is historical, multilingual, and provides alternative spellings for place names.
          This differentiates TopoText from many other mapping tools that rely on modern gazetteers such
          as Google Maps, thus excluding historical place names, alternative spellings (a common historical
          occurrence before the standardization of spelling and in works translated from other languages), and
          works written in other languages. 
          <br><br><br>
          Der Benutzer kann mit Leaflet, einer Open-Source-JavaScript-Bibliothek für interaktive Karten, eine Karte aller extrahierten Orte erstellen. 
          Zu diesem Zweck werden die vom NER-Tool extrahierten Stellen zunächst über den GeoNames-Webdienst geoparsed. GeoNames ist der größte offene Gazetteer, der 
          historisch und mehrsprachig ist und alternative Schreibweisen für Ortsnamen bietet.
          Dies unterscheidet TopoText von vielen anderen Kartierungswerkzeugen, die auf modernen Ortsverzeichnissen wie Google Maps basieren, und schließt historische Ortsnamen
          und alternative Schreibweisen aus (eine übliche historische)
          Vorkommen vor der Standardisierung der Rechtschreibung und in aus anderen Sprachen übersetzten Werken sowie in in anderen Sprachen verfassten Werken.

        </p>
      </div>      
  </div>

  <div class="row" data-aos="zoom-in">
      <div class="col-sm-6 content-col">
         <p>
          <br>
          <strong>Word-Cloud and CSV-Export</strong><br>
          The user can generate a Word Cloud for a given place. This word cloud can be a local word cloud
          from n words around the selected place or a global word cloud from all the words around the place
          in the text. In both cases, a web service provided by Wordle is used to generate the
          word cloud. <br><br>
          Finally, the user can also export all extracted information to a CSV file which contains every place
          extracted, their corresponding geo-coordinates, the country and an empty column where the user can
          provide annotations for places. This exported CSV file can be edited and reloaded by other users and can be re-used on
          other mapping platforms as well.
          <br><br><br>

          
          Der Benutzer kann eine Word Cloud für einen bestimmten Ort generieren. Diese Word-Cloud kann aus n Wörtern um den ausgewählten Ort oder eine globale 
          Word-Cloud aus allen Wörtern um den Ort herum sein im Text. In beiden Fällen wird ein von Wordle bereitgestellter Webdienst zum Generieren der Word-Cloud verwendet.<br><br>
          Schließlich kann der Benutzer auch alle extrahierten Informationen in eine CSV-Datei exportieren, die jeden extrahierten Ort, die entsprechenden Geokoordinaten, 
          das Land und eine leere Spalte enthält, in der der Benutzer Anmerkungen für Orte bereitstellen kann. 
          Diese exportierte CSV-Datei kann von anderen Benutzern bearbeitet und neu geladen und auch auf anderen Mapping-Plattformen wiederverwendet werden.
         </p>
      </div>

      <div class="col-sm-6 content-col">
        <p>
           <img src="../img/topotext_wordcloud.png" class="img-responsive" alt="Topotext map" />
        </p>
     </div>
  </div>
</div>

<% include partials/footer %>
</body>

</html>