<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <% include partials/script %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-6 content-col">
      <p>Wenn Sie Fragen, Anmerkungen zu dieser Webseite haben, können Sie sich mit mir in Verbindung setzen.
        <br><br>
        Dies ist ein Projekt, das im Rahmen einer Seminararbeit an der Universität zu Köln entstanden ist.
      </p>
      
    </div>
    <div class="col-sm-6 content-col"> 
      <p>If you have any questions or comments about this website, you can contact me.
        <br><br>
        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#116;&#98;&#97;&#117;&#114;1&#64;&#115;&#109;&#97;&#105;&#108;.&#117;&#110;&#105;-&#107;&#111;&#101;&#108;&#110;.&#100;&#101;?&#115;&#117;&#98;&#106;&#101;&#99;&#116;=K&#111;&#110;&#116;&#97;&#107;&#116; &#118;&#105;&#97; TOPOTEXT-&#119;&#101;&#98;">Thomas Baur</a>
        <br>University of Cologne
        <br>Cologne, Germany
      </p>
    </div>
    
  </div>
</div>

<% include partials/footer %>
</body>

</html>