<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/script %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4 content-col">
      <p>Hallo und willkommen auf topotext-web.
        Mit dieser Applikation haben Sie die Möglichkeit, Texte auf Landkarten zu mappen. Die Landkarten werden dynamisch generiert. 
        Mehr dazu finden Sie auf den Unterseiten dieser Webseite.</p>
      
    </div>
    <div class="col-sm-4 content-col"> 
      <p>Hello and welcome to topotext-web.
        With this application you have the possibility to map texts on maps. The maps are generated dynamically. 
        You can find more about this on the sub-pages of this website.</p>
    </div>
    <div class="col-sm-4"> 
      <p>
        <button class="btn btn-primary"><i class="far fa-file-alt"></i> <a class="pagelink" href="/process">Process a text</a></button>
      </p>
    </div>
  </div>
  <div class="row white-spacer">
    <div class="col-sm-12">&nbsp;&nbsp;</div>
  </div>

  <div class="row gray-spacer">
    <div class="col-sm-4 content-col">
      
      <p>
        To learn more about the "TOPOTEXT" project, click <a href="/about"><strong>here</strong></a>.<br><br>        
        Um mehr über das Projekt "TOPOTEXT" zu erfahren klicken Sie <a href="/about"><strong>hier</strong></a>.
      </p>
      <img src="../img/LocationDetector.png" class="img-responsive" alt="Topotext location dectector" />
    </div>
    <div class="col-sm-4">
      <p>&nbsp;&nbsp;</p> 
    </div>
    <div class="col-sm-4">
      <p>
        If you are interested in (literary) text mapping, click <a href="/process"><strong>here</strong></a>.<br><br>        
        Wenn Sie an (literarischem) Text-Mapping interessiert sind, klicken Sie <a href="/process"><strong>hier</strong></a>.
      </p>
      <img src="../img/topo.png"  class="img-responsive" alt="Mapping the world" />
    </div>
    
  </div>

  <br><br>
  <div class="row">
    <div class="col-sm-4" data-aos="flip-right">
       <img src="../img/map-world-21.jpg" class="img-responsive" alt="World map wood" />
    </div>
    <div class="col-sm-4 content-col" data-aos="flip-up">
      <p>
        <strong>Einen Text auf einer Karte mappen</strong><br>
        Um einen Text auf einer Landkarte (OpenStreetMap) zu mappen, klicken Sie auf den Button "Process a text" auf dieser Seite.
        Sie gelangen dann direkt auf die Seite, auf der Sie einen Text in ein dafür vorgesehenes Feld eingeben können.
        Nach der Eingabe klicken Sie auf den grünen Button. Es wird eine neue Seite mit einer OpenStreetMap-Karte generiert.
        Diese können Sie einsehen, indem Sie auf "Show map" klicken.
      </p>
   </div>
   <div class="col-sm-4 content-col" data-aos="flip-down">
    <p>
      <strong> Map text on OpenStreetMap</strong> <br>
      To map a text on a map (OpenStreetMap), click on the "Process a text" button on top of this page.
      You will then be redirected to the page where you can enter a text in a field provided.
      After entering the data, click on the green button. A new page with an OpenStreetMap map is generated.
      You can view this page by clicking on "Show map"-button below the textarea.
    </p>
 </div>
  </div>
</div>

<% include partials/footer %>

<script type="text/javascript">
  window.cookieconsent_options = {"message":"This website uses cookies to offer the best possible functionality.","dismiss":"Accept","learnMore":"More info","link":"http://de.webnode.com/datenschutzerklaerung/","theme":"dark-bottom"};
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>

</body>

</html>