<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <% include partials/script %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-6 content-col">
      <p>Hier können Sie einen Text auf eine Landkarte mappen lassen. 
        Geben Sie dazu einfach einen Text in das Textfeld auf dieser Seite ein und klicken Sie auf den grünen Button 'Process text'. 
        Danach erscheint ein weitere Button, der Sie zur generierten Landkarte führt. Bitte beachten Sie, dass nur englische Texte geparst werden können.
      </p>

      <br><br>
      <p>
        Here you can have a text mapped onto a map. 
        Simply enter a text in the text field on this page and click on the green button 'Process text'. 
        After that another button appears that leads you to your generated map. Please note that only English texts can be parsed.
      </p>
      
    </div>
    <div class="col-sm-6"> 
      
      <h1></h1>
      <div class="form-group">
        <form id="textmapper" method="POST">
            <div class="form-field">
                <label for="textbody" class="float-left">Input text:</label>
                <textarea class="stretch" rows="10" name="textbody"></textarea>
            </div>     
      
            <button type="submit" class="btn btn-success">Process text</button>
        </form>
        <br>
        <div id="lnk"></div>
      </div>
    </div>
        
  </div>  
</div>

<% include partials/footer %>
</body>

</html>