<!DOCTYPE html>
<html>
<head>
	
	<title>Your map</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="../img/docs/favicon.ico" />

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>


	
</head>
<body>



<div id="mapid" style="width: 100%; height:100%; position: fixed;top: 0;left: 0; height: 100%;"></div>
<script>
	var lats = [];
	var lngs = [];
	var names = [];
	
	
	<% for(var i=0; i < x.length; i++) { %>
		lats.push('<%- x[i]%>');
	<% } %>

	<% for(var i=0; i < y.length; i++) { %>
		lngs.push('<%- y[i]%>');
	<% } %>

	<% for(var i=0; i < cnames.length; i++) { %>
		names.push('<%- cnames[i]%>');
	<% } %>
	
	
	
	var map = L.map('mapid').setView([51.505, -0.09], 2);

	L.tileLayer("https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw", {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			 'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(map);

for (let i=0; i < lats.length; i++) {
	var x = lats[i];
	var y = lngs[i];
	var cityname = names[i];
	
	L.marker([x, y]).addTo(map).bindPopup(cityname).openPopup();;
}

</script>
</body>
</html>
