.content-col p {
    font-size: 1.1em;
    text-align: justify;
}

a.pagelink,
a.pagelink-footer {
    color: #FFF;
}
a.pagelink:hover {
    text-decoration: none;
}


footer {
    background-color: #555555;
}
.footernav {
    width: 100%;
    padding: 5% 5% 5% 5%;
}

.bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      height: 155px;
      background: #f8f8f8 url("../img/headerlogo.png") no-repeat scroll 0 0;
  }
  .navbar-nav  li a:hover {
      color: #3F6E91 !important;
  }
 
  .navbar-collapse ul {
    background-color: #ffffff !important;
  }

  .active>a {
    color: #3F6E91 !important;;
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }
  
  .form-field {
    width: 100%;
  }

 
  .stretch {
    width: 100%;
  }

  .navbar-brand {
    color: #f8f8f8 !important;
    font-size: 1.8em;
    font-weight: 600;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .gray-section {
      padding: 20px;
      background-color: #f9f9f9;
  }

  .black-spacer {
      background-color: #000;   
      color: #f8f8f8;
      padding: 25px;
  }
  .gray-spacer {
      background-color: #414041;
      color: #f8f8f8;
      padding: 25px;
  }
  .white-spacer {
    background-color: #FFF;
    color: #333;
    padding: 40px;    
}

  .img-responsive {   
      width: 100%;
      height: auto;    
  }